/** need to have some of the css here because of the animations with framer-motion  */
/** https://github.com/framer/motion/issues/231 looks like there's no solution? */
.menu {
  position: fixed;
  bottom: 1rem;
  width: 300px;
  min-height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.container {
  min-height: -webkit-fill-available;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.social-wrapper svg {
  margin: 0 1rem;
  text-decoration: none;
  color: #201f24;
}

.social-wrapper svg:hover {
  opacity: 0.3;
}

nav ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
