/** need to have some of the css here because of the animations with framer-motion  */

.menu-wrapper {
  background-color: #111013;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(8px);
  max-width: 100%;
  bottom: 0;
  padding: 0 2rem;
  border-radius: 2rem;
  position: fixed;
  bottom: 2rem;
}

.container {
  min-height: -webkit-fill-available;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-wrapper svg {
  margin: 0 1rem;
  text-decoration: none;
  color: #201f24;
}

.social-wrapper svg:hover {
  opacity: 0.3;
}
